.white parallax-container valign-wrapper {
    background-image:url('images/bg.png');
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.section-header {
    margin-top: 1em;
}
.section {
    padding-top:5rem;
    padding-bottom:5rem;
}
.col.s8.m4.wow.slideInUp {
    padding-top:3em;
}