.white parallax-container valign-wrapper {
    background-image:url('images/bg.png');
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.section-header {
    margin-top: 1em;
}
